*{
    margin:0;
    padding: 0;
    font-family:"League Spartan",sans-serif;
    box-sizing: border-box;
}

body{
    background: hsl(0, 0%, 90%);
}

.container{
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

h1{
    font-size: 25px;
    color: hsl(198, 20%, 13%);
    font-weight: bolder;
}
.screen{
    justify-content: center;
    margin: 20px 0px;
    border-radius: 10px;
}

.screen input{
    text-align: right;
    background-color:hsl(0, 0%, 93%) ;
    color: hsl(198, 20%, 13%);
    font-weight: bolder;
    padding: 20px;
    height: 80px ;
    border-radius: 10px;
    border: none;
    font-size:2rem ;
    width: 400px;
}

.keys{
    background-color: hsl(0, 5%, 81%);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}

.keys input{
    border: 0;
    width: 70px;
    height: 45px;
    border-radius: 12px;
    background-color:  hsl(45, 7%, 89%);
    box-shadow: 0px 3px hsl(35, 11%, 61%);
    font-size: 1.8em;
    font-weight: bolder;
    color:  hsl(198, 20%, 13%);
    cursor: pointer;
    margin: 8px;
}

.row1234{
    display: flex;
    justify-content: space-between;
}

.keys2{
    display: flex;
    justify-content: space-around;
}

.keys2 input{
    width:150px;
}

input.delButton , input.resetButton{
    background-color:  hsl(185, 42%, 37%);
    color:  hsl(0, 0%, 100%);
    font-size: 1.2em;
    box-shadow: 0px 3px hsl(185, 58%, 25%);
}

input.equalButton{
    background-color:  hsl(25, 98%, 40%);
    color:  hsl(0, 0%, 100%);
    box-shadow: 0px 3px hsl(25, 99%, 27%);
}

@media screen and (max-width: 480px) { 
    .container{
        width:350px;
    }
    .screen input{
        width:300px;
    }
    .keys{
        width: 300px;
        padding: 12px;
    }

    .keys input{
        width:60px;
        margin:5px;
    }

    .keys2 input{
        width: 100px;
    }
}






