*{
    margin:0;
    padding: 0;
    font-family:"League Spartan",sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(0, 0%, 90%);
}

h1{
    font-size: 25px;
    color: hsl(198, 20%, 13%);
    font-weight: bolder;
}
.screen{
    justify-content: center;
    margin: 20px 0px;
    border-radius: 10px;
    display: flex;
}

.screen input{
    text-align: right;
    background-color:hsl(0, 0%, 93%) ;
    color: hsl(198, 20%, 13%);
    font-weight: bolder;
    padding: 20px;
    height: 80px ;
    border-radius: 10px;
    border: none;
    font-size:3em ;
    width: 410px;
}

.keys{
    background-color: hsl(0, 5%, 81%);
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    justify-self: center;
    width: 410px;
}

.keys input{
    border: 0;
    width: 70px;
    height: 45px;
    border-radius: 12px;
    background-color:  hsl(45, 7%, 89%);
    box-shadow: 0px 3px hsl(35, 11%, 61%);
    font-size: 1.8em;
    font-weight: bolder;
    color:  hsl(198, 20%, 13%);
    cursor: pointer;
    margin: 8px;
}

.keys2 input{
    width:160px;
    height: 40px;
}

.keys input.t2{
    background-color:  hsl(185, 42%, 37%);
    color:  hsl(0, 0%, 100%);
    font-size: 1.2em;
    box-shadow: 0px 3px hsl(185, 58%, 25%);
}

.keys input.t3{
    background-color:  hsl(25, 98%, 40%);
    color:  hsl(0, 0%, 100%);
    box-shadow: 0px 3px hsl(25, 99%, 27%);
}

@media screen and (max-width: 600px) { 
    .container {
        width: 100%;
    }

    .form {
        width: 100%;
        height: 80%;
    }
    .keys {
        width: 100%;
        padding:10px;
    }

    .keys input{
        height: 22%;
        width: 22%;
        margin:4px  2px;
    }

    .keys2 input{
        width: 45%;
        height: 20%;
        margin:4px  2px;
    }

    .keys input.t2{
        padding:6px;
    }

}






